@import url('monokai.css');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css');
@import url('//fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');


body {
	margin: 0;
}
header {
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100vw;
	position: fixed;
	background: white;
	height: 50px;
	border-bottom: 1px solid black;
	text-align: center;
	font-size: 20px;
	font-family: monospace;
	opacity: 1;
	z-index: 9999999;
}
#hspace {
	height: 50px;
}
#hero {
	height: calc(100vh - 50px);
	text-align: center;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	border-bottom: 1px solid black;
}
.herotitle {
	color: white;
	padding-top: 40vh;
	font-size: 40px;
	display: inline-block;
	background: rgba(100,100,100,0.5);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	height: 100%;
}
.progress-container {
  width: 100vw;
	transform: translate(-5px,10px);
  height: 1px;
  background: #ccc;
}
.progress-bar {
  height: 1px;
  background: #000000;
  width: 0%;
}
aside {
	text-align: center;
	width: 20vw;
	float: left;
	padding: 10px;
}
aside hr {
	background:grey;
	width:50%;
}
#about {
	top: 60px;
	left: 14px;
}
.tag {
	border-radius: 25px;
	padding: 5px;
	font-style: italic;
	marging-bottom: 5px;
	border: 2px solid lightgrey;
	color: lightgrey;
}
article {
	width: 80vw;
	padding: 10px;
	float: left;
}
#desc {
	text-overflow: ellipsis;
	overflow: scroll;
	max-height: 50vh;
}
article img {
	max-width: 70%;
}
footer {
	height: 50px;
	width: 100vw;
	border-top: 1px solid black;
	clear: both;
	padding: 10px;
	text-align: center;
	font-family: monospace;
	z-index: 9999;
	background: white;
}
article h2::before {
	content: "## ";
	color: lightgrey;
	cursor: pointer;
}
article h2{
	text-decoration: underline;
	text-decoration-color: lightgrey;
	cursor: pointer;
}
.copycode {
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
	right: 10px;
	display: invisible;
}
article>* {
	margin-left: 65px;
}
article h2 {
	margin-left: 0px;
}
article blockquote {
	background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

article, aside {font-family: 'Anonymous Pro'}
code, h1, h2, h3, h4, h5, h6 { font-family: 'Fira Code', monospace; }

aside :any-link {
	color: black;
}

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}
article ::selection {
	text-decoration: underline;
	text-decoration-color: red;
	background: yellow;
}
code ::selection {
	background: white;
	color: black;
}
