body {
	margin: 0;
}
header {
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100vw;
	position: fixed;
	background: white;
	height: 50px;
	border-bottom: 1px solid black;
	text-align: center;
	font-size: 20px;
	font-family: monospace;
	opacity: 1;
}
#hspace {
	height: 50px;
}
#hero {
	height: calc(100vh - 50px);
	text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.herotitle {
	color: white;
	padding-top: 40vh;
	font-size: 40px;
	display: inline-block;
	background: rgba(100,100,100,0.5);
	width: 100%;
	height: 100%;
}
aside {
	width: 20vw;
	float: left;
	padding: 10px;
}
article {
	width: 80vw;
	padding: 10px;
	float: left;
}
article img {
	width: 20vw;
}
footer {
	height: 50px;
	width: 100vw;
	border-top: 1px solid black;
	clear: both;
	padding: 10px;
}
article h2::before {
	content: "# ";
	color: lightgrey;
}
.copycode {
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
	right: 100px;
}
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}
