<h3 id="comments_hash">Comments:</h3>
<!-- <p style="color:red">I am migrating my comment system to Giscus, it might take a while. Sorry!</p>
<script src="https://giscus.vercel.app/client.js"
        data-repo="cole-wilson/colewilson.xyz"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNzI1MTExMTY="
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyOTMyOTM2"
        data-mapping="pathname"
        data-theme="preferred_color_scheme"
        crossorigin="anonymous"
        async>
</script> -->
<script src="https://utteranc.es/client.js" repo="cole-wilson/colewilson.xyz" issue-term="pathname" theme="photon-dark" label="comment" crossorigin="anonymous" async defer></script>
<details>
        <summary>You can also <u>submit an anonymous comment</u> if you don't have a GitHub account.</summary>
        <form action="https://api.colewilson.xyz/comment" method="POST">
                <input type="hidden" name="url" value="{{ page.url | slice: 1,page.url.size }}">
                <br>Name: <input name="name" value="anonymous" style="width:100%;"><br>
                <textarea rows=10 style="width:100%;" placeholder="submit an anonymous comment. You will only be able to submit 1 comment per hour per IP." name="body"></textarea><br>
                <input type="submit">
        </form>
</details>

