<header>
	<center>
		<div class="navlinks n1">
		<a style="color:grey;margin-left:30px;margin-right:30px;" href="/contact">contact</a>
		<a style="color:grey;margin-left:30px;margin-right:30px;" href="/about">about</a>
		</div>

		<span style="color:var(--color);margin-left:30px;margin-right:30px;" id="top"><a style="color:var(--color);" href="/">cole wilson</a><span id="toptitle"></span></span>

		<div class="navlinks n2">
		<a style="color:grey;margin-left:30px;margin-right:30px;" href="/posts">posts</a>
		<a style="color:grey;margin-left:30px;margin-right:30px;" href="/projects">projects</a>
		</div>
		<div id="topright"style="position:fixed;top:9px;right:5px;cursor:pointer;" onclick="share()"><img src="https://img.icons8.com/android/18/999999/share.png"></div>
	</center>
	<div class="progress-container">
		<div class="progress-bar" id="myBar"></div>
	</div>
</header>
<div id="hspace"></div>
