<header>
	<center>
		<a style="color:grey;margin-left:30px;margin-right:30px;" href="/contact">contact</a>
		<a style="color:grey;margin-left:30px;margin-right:30px;" href="/about">about</a>
		
		<a style="color:var(--color);font-weight:bold;margin-left:30px;margin-right:30px;" href="/">cole wilson</a>

		<a style="color:grey;margin-left:30px;margin-right:30px;" href="/posts">posts</a>
		<a style="color:grey;margin-left:30px;margin-right:30px;" href="/projects">projects</a>
	</center>
	<div class="progress-container">
		<div class="progress-bar" id="myBar"></div>
	</div>
</header>
<div id="hspace"></div>