---
layout: master
---
	{% include nav.html %}
	<section id="o-body">
		<h2 class="archive-title">{{page.title}}</h2>
		{{content}}
		<ul>{% for tag in site.tags %}<li><a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a></li>{% endfor %}</ul>
		{% for tag in site.tags %}
		    <h4 id="{{ tag[0] | slugify }}">{{ tag | first }}</h4>
		    <ul class="tags-expo-posts">
		      {% for post in tag[1] %}
			<a class="post-title" href="{{ site.baseurl }}{{ post.url }}"><li>{{ post.title }}:<small class="post-date">{{ post.date | date_to_string }}</small></li></a>
		      {% endfor %}
		    </ul>
	    {% endfor %}
	</section>
	{% include footer.html %}
	{% include scripts.html %}
