<!DOCTYPE html>
<html lang="en">
<!--  
 _____________________
< Made by Cole Wilson >
 ---------------------
      \                    / \  //\
       \    |\___/|      /   \//  \\
            /0  0  \__  /    //  | \ \
           /     /  \/_/    //   |  \  \
           @_^_@'/   \/_   //I am|   \   \           (can you find all 20 easter eggs?)
           //_^_/     \/_ /easter|    \    \
        ( //) |        \///egg #2!     \     \
      ( / /) _|_ /   )  //       |      \     _\
    ( // /) '/,_ _ _/  ( ; -.    |    _ _\.-~        .-~~~^-.
  (( / / )) ,-{        _      `-.|.-~-.           .~         `.
 (( // / ))  '/\      /                 ~-. _ .-~      .-~^-.  \
 (( /// ))      `.   {            }                   /      \  \
  (( / ))     .----~-.\        \-'                 .~         \  `. \^-.
             ///.----..>        \             _ -~             `.  ^-`  ^-_
               ///-._ _ _ _ _ _ _}^ - - - - ~                     ~-- ,.-~
                                                                  /.-~

-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<title>{{page.title}} {% if page.overidesub %}{% else %} | Cole Wilson{% endif %}</title>
	<meta name="author" content="Cole Wilson">
	<meta name="title" content="{{page.title}} {% if page.overidesub %}{% else %} | Cole Wilson{% endif %}">
	<meta name="description" content="{% if page.desc %}{{ page.desc }}{% else %}Cole Wilson is a freelance programmer who works mainly with Python, PHP, Bash, and HTML/JS/CSS. He has lots of experience on Linux machines.{% endif %}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://colewilson.xyz/">
	<meta property="og:title" content="{{page.title}} {% if page.overidesub %}{% else %} | Cole Wilson{% endif %}">
	<meta property="og:description" content="{% if page.desc %}{{ page.desc }}{% else %}Cole Wilson is a freelance programmer who works mainly with Python, PHP, Bash, and HTML/JS/CSS. He has lots of experience on Linux machines.{% endif %}">
	<meta property="og:image" content="{{page.image}}">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://colewilson.xyz/">
	<meta property="twitter:title" content="{{page.title}} {% if page.overidesub %}{% else %} | Cole Wilson{% endif %}">
	<meta property="twitter:description" content="{% if page.desc %}{{ page.desc }}{% else %}Cole Wilson is a freelance programmer who works mainly with Python, PHP, Bash, and HTML/JS/CSS. He has lots of experience on Linux machines.{% endif %}">
	<meta property="twitter:image" content="{{page.image}}">
	{% include styles.html %}
	{% include analytics.html %}
</head>

<body>
<div id="navsmall"></div>
<script>var layout="{{page.layout}}";</script>
{{ content }}
</body>

</html>
