---
layout: master
--- 
{% include nav.html %}
<section id="hero" style="background-image: url({{page.image}});">
	<span class="herotitle">{{page.title}}</span>
		</section>
		<section id="body">
		<aside>
		<div id="about">
		{% if page.desc %}
		<p id="desc"><i>{{page.desc}}</i></p>
		<hr>
		{% endif %}
		<span><i>{{ page.date | date_to_string }} - by Cole Wilson</i></span>
		<hr>
		{% for tag in page.tags %}
		<a class="tag" href="/tags#{{tag | downcase}}">{{tag}}</a>
		{% endfor %}
		</div>
		</aside>
		<article>
			{{content}}
		</article>
		</section>
		{% include footer.html %}
		<script>var layout="post";</script>
		{% include scripts.html %}