<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	  <title>{{page.title}}  &middot;  Cole Wilson</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <link rel="stylesheet" href="/monokai.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anonymous+Pro" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<header>
			<center>cole wilson</center>
		</header>
		<div id="hspace"></div>
		<section id="hero" style="background-image: url(https://miro.medium.com/max/12000/1*dEVrKvDP3cDl4rHDkgne0g.jpeg);">
			<span class="herotitle">{{page.title}}</span>
		</section>
		<section id="body">
		<aside>
			aside
		</aside>
		<article>
			{{content}}
		</article>
		</section>
		<footer>
			footer
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="/script.js"></script>
  </body>
</html>
