---
layout: master
--- 
{% include nav.html %}
<section id="hero" style="background-image: url({{page.image}});">
	<span class="herotitle">{{page.title}}</span>
		</section>
		<section id="body">
		<aside>
		<div id="about" style="font-style:italic;">
{{ page.date | date_to_string }} - by Cole Wilson<hr>
<ul>{% if page.repo %}
<li><a href="https://github.com/{{page.user}}/{{page.repo}}">
	View it on GitHub<br>
</a></li>
{% endif %}
{% if page.site %}
<li><a href="{{page.site}}" >
	<span>Visit the site</span><br>
</a></li>
{% endif %}
{% if page.download %}
<li><a href="{{page.download}}">
	<span>Download it</span><br>
</a></li>
{% endif %}
{% if page.post %}
<li><a href="{{page.post}}">
	<span>View the post</span><br>
</a></li>
{% endif %}</ul>
			<hr>
		{% for tag in page.tags %}
		<a class="tag" href="/tags#{{tag | downcase}}">{{tag}}</a>
		{% endfor %}
		</div>
		</aside>
		<article style="min-height:400px;">
			<p>{{page.desc}}</p>
			
			<p>{{content}}</p>
		</article>
		</section>
		{% if page.comments %}{% include comments.html %}{% endif %}
		{% include footer.html %}
		{% include scripts.html %}
