---
layout: master
--- 
{% include nav.html %}
<section id="hero" style="background-image: url({{page.image}});">
	<span class="herotitle">{{page.title}}</span>
		</section>
		<section id="body">
		<aside>
		<div id="about">
{% if page.repo %}
<a href="https://github.com/{{page.user}}/{{page.repo}}">
	View on GitHub.
</a>
{% endif %}
{% if page.site %}
<a href="{{page.url}}" >
	<span>Visit Site</span>
</a>
{% endif %}
{% if page.download %}
<a href="{{page.download}}">
	<span>Download</span>
</a>
{% endif %}
{% if page.post %}
<a href="{{page.post}}">
	<span>Related Post</span>
</a>
{% endif %}
		</div>
		</aside>
		<article style="min-height:400px;">
			<p>{{page.desc}}</p>
			
			<p>{{content}}</p>
		</article>
		</section>
		{% if page.comments %}{% include comments.html %}{% endif %}
		{% include footer.html %}
		{% include scripts.html %}
